<template>
  <footer>
    <p class="text-white text-medium">
      Released under the MIT License
    </p>
    <p class="text-tiny text-white">
      Copyright © 2020 Vedran Amidzic
    </p>
  </footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style scoped lang="scss">
footer {
  padding: 5rem 0;
  background: #35495e;
  text-align: center;
  p {
    margin-bottom: 0;
  }
}
</style>
