<template>
  <header class="site-header shadow-1 border-bottom-1">
    <div class="header-inner-container container">
      <router-link to="/" class="text-medium text-bold">
        <SvgWrapper>
          <img
            svg-inline
            src="@/assets/vuejs.svg"
            class="logo"
            width="48"
            height="48"
          />
          <span name="text">Support</span>
        </SvgWrapper>
      </router-link>
      <nav class="main-nav">
        <ul class="list-inline">
          <li><router-link class="text-medium" to="/">Home</router-link></li>
          <li>
            <router-link class="text-medium" to="/contact"
              >Contact Us</router-link
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>

<script>
import SvgWrapper from "@/components/SvgWrapper";
export default {
  name: "Header",
  components: {
    SvgWrapper
  }
};
</script>

<style scoped lang="scss">
.site-header {
  z-index: 1000;
  position: sticky;
  top: 0;
  background: white;
}
.header-inner-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .main-nav {
    display: flex;
    align-items: center;
  }
}
</style>
