<template>
  <div class="hero-container" :style="bgImage">
    <h3 class="text-white text-light">V Support</h3>
    <h1 class="text-white">
      How can we help you with<br />
      Vue JS?
    </h1>
    <p class="text-white">
      We are a team specialized in
      <span class="text-bold">Vue JS traning</span>, scafolding your projects,
      and providing a top notch <span class="text-bold">code audits</span>.
    </p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      bgImage: {
        backgroundImage: `linear-gradient(rgba(53, 73, 94, 0.8), rgba(53, 73, 142, 0.9)),
        url(${require("@/assets/code-2.jpg")})`
      }
    };
  }
};
</script>

<style scoped lang="scss">
.hero-container {
  padding: 15rem 0 25rem 0;
  background-size: cover;

  h1,
  h3,
  p {
    text-align: center;
  }
  h1 {
    margin-bottom: 1.6rem;
  }
  p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
</style>
