<template>
  <article class="article article-container">
    <figure class="article-image">
      <img :src="image" :alt="imageAlt" class="img-fluid" />
    </figure>
    <div class="article-content">
      <div>
        <p v-for="(paragraph, index) in text" :key="index">
          {{ paragraph }}
        </p>
      </div>
      <a class="button" :href="link">Learn More</a>
    </div>
  </article>
</template>

<script>
export default {
  props: {
    image: String,
    imageAlt: String,
    text: Array,
    link: String
  }
};
</script>

<style scoped lang="scss">
.article {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem 2rem;
  margin-bottom: 4rem;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  .article-image {
    order: 1;
    @media (max-width: 1024px) {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    order: 2;
  }

  &:nth-child(even) {
    @media (min-width: 1024px) {
      grid-template-columns: 3fr 1fr;
      .article-image {
        order: 2;
      }
      .article-content {
        order: 1;
      }
    }
  }
}
</style>
