<template>
  <div class="svg-wrapper">
    <slot></slot>
    <slot name="text"></slot>
  </div>
</template>

<script>
export default {
  name: "Icon",
  props: {
    text: String
  }
};
</script>

<style scoped lang="scss">
.svg-wrapper {
  display: flex;
  align-items: center;
}
</style>
