a {
  color: $dark;
  text-decoration: none;

  &:hover {
    color: lighten($dark, 20%);
    transition: 0.4s ease-in color;
  }
}

button,
a.button {
  display: inline-block;
  background: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 3rem;
  line-height: 5rem;
  height: 50px;
  border: 1px solid $dark;
  transition: 0.4s ease-in background;
  text-align: center;

  @media (max-width: 768px) {
    display: block;
    width: 100%;
  }

  &:hover {
    color: white;
    background: $dark;
  }
}