.floating-label {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 200px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 60px;

  &.textarea {
    min-height: 250px;
  }

  &:focus-within label {
    transform: translate(10px, -8px) scale(0.75);
    color: $dark;
    background: white;
    margin-left: 10px;
    padding-left: 6px;
    padding-right: 6px;
  }

  label {
    position: absolute;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $dark;
    transform: translate(0, 22px) scale(1);
    padding-left: 20px;
    transform-origin: top left;
    transition: all 0.2s ease-out;
  }

  .is-active{
    transform: translate(10px, -8px) scale(0.75);
    color: $dark;
    background: white;
    margin-left: 10px;
    padding-left: 6px;
    padding-right: 6px;
  }

  input, textarea {
    border: 1px solid rgba(4,83,199,0.1);
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.02);
    color: black;
    padding: 0 20px;
    border-radius: 2px;
    height: 100%;
    transition: 0.25s ease-in border, 0.25s ease-in box-shadow;

    &::placeholder {
      color: black;
    }

    &:hover,
    &:focus {
      border: 1px solid rgba(4, 83, 199, 0.4);
      box-shadow: 0 20px 10px 0 rgba(4, 83, 199, 0.02);
      outline: none;
    }
    &:disabled {
      cursor: auto;
      border: 1px solid rgba(0, 0, 0, 0.2);
      &:hover,
      &:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 20px 10px 0 rgba(4, 83, 199, 0.02);
        outline: none;
      }
    }
  }
  textarea {
    padding-top: 2rem;
  }
}

