html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fafcfe;
  font-size: 1.6rem;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

h1, h2 {
  font-weight: 600;
}

h1 {
  font-size: 4.2rem;
  line-height: 7.1rem;

  @media (max-width: 768px) {
    font-size: 2.1rem;
    line-height: 3.4rem;
  }
}

h2 {
  font-size: 3.3rem;
  line-height: 5.8rem;

  @media (max-width: 768px) {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

h3 {
  font-size: 2rem;
  line-height: 3.9rem;

  @media (max-width: 768px) {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

p {
  color: $text;
  line-height: 2.4rem;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.text-dark-blue {
  color: $dark;
}

.text-white {
  color: $white;
}

.text-tiny {
  font-size: 1rem;
}

.text-small {
  font-size: 1.2rem;
}

.text-medium {
  font-size: 1.4rem;
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

