.border-1 {
  border: 1px solid rgba(4,83,199,0.1);
}
.border-top-1 {
  border-bottom: 1px solid rgba(4,83,199,0.1);
}
.border-right-1 {
  border-bottom: 1px solid rgba(4,83,199,0.1);
}
.border-bottom-1 {
  border-bottom: 1px solid rgba(4,83,199,0.1);
}
.border-left-1 {
  border-bottom: 1px solid rgba(4,83,199,0.1);
}
