<template>
  <div class="contact-us container">
    <h2 class="text-dark-blue text-center">Send us your Vue JS Questions!</h2>
    <form class="contact-form" @submit.prevent="formSubmit">
      <div class="floating-label">
        <input
          v-model="email"
          id="email"
          type="email"
          v-on:change="toggleInputClass()"
          required
        />
        <label
          for="email"
          v-bind:class="[isInputLabelActive ? 'is-active' : '']"
        >
          Email
        </label>
      </div>
      <div class="floating-label textarea">
        <textarea
          id="message"
          v-model="message"
          v-on:change="toggleTextareaClass()"
          rows="10"
        ></textarea>
        <label
          for="message"
          v-bind:class="[isTextAreaLabelActive ? 'is-active' : '']"
        >
          Message
        </label>
      </div>
      <button class="button" type="submit">
        <span v-if="loading">
          Submiting Form...
        </span>
        <span v-else>
          Submit
        </span>
      </button>
      <div class="res-block">
        <p v-if="res.length || error.length" class="text-dark-blue">
          Data retrieved from server:
        </p>
        <div v-if="success">
          <p>{{ success }}</p>
          <pre v-if="res.length">
            <code>
              {{ res }}
            </code>
          </pre>
        </div>
        <div v-if="error">
          <pre v-if="error.length">
            <code>
              {{ error }}
            </code>
          </pre>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Contact",
  data() {
    return {
      email: "",
      message: "",
      loading: false,
      error: false,
      errors: [],
      res: {},
      success: "",
      isInputLabelActive: false,
      isTextAreaLabelActive: false
    };
  },
  methods: {
    toggleInputClass() {
      this.isInputLabelActive = this.email !== "";
    },
    toggleTextareaClass() {
      this.isTextAreaLabelActive = this.message !== "";
    },
    formSubmit() {
      this.loading = true;
      axios
        .post("http://localhost:3001/API/contact", {
          email: this.email,
          message: this.message
        })
        .then(res => {
          this.success = "Data saved successfully";
          this.res = JSON.stringify(res, null, 2);
          this.email = "";
          this.message = "";
          this.error = null;
        })
        .catch(error => {
          this.error = JSON.stringify(error.response.data, null, 2);
        })
        .finally(() => {
          setTimeout(() => {
            this.loading = false;
          }, 1000);
        });
    }
  }
};
</script>

<style scoped lang="scss">
$color-code-background: black;
$color-code-color: white;
.contact-us {
  padding-top: 5rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.res-block {
  margin-top: 10rem;
  code {
    display: block;
    background-color: $color-code-background;
    color: $color-code-color;
    border-radius: 0.3rem;
    padding: 4px 5px 5px;
    white-space: nowrap;
    overflow: auto;
  }

  pre code {
    white-space: inherit;
  }

  pre {
    background-color: $color-code-background;
    padding: 10px;
    border-radius: 0.3em;
    margin-bottom: 20px;
  }
}
</style>
