<template>
  <section>
    <Hero />
    <div class="container home">
      <ImageWithText
        v-for="contentItem in content"
        :image="contentItem.image"
        :text="contentItem.text"
        :key="contentItem.id"
        :link="contentItem.link"
      />
    </div>
  </section>
</template>

<script>
import Hero from "@/components/Hero";
import ImageWithText from "@/components/ImageWithText";
import Evan from "@/assets/evan.jpg";
import Vuex from "@/assets/vuex.png";
import Router from "@/assets/router.jpg";

export default {
  name: "Home",
  components: {
    Hero,
    ImageWithText
  },
  data() {
    return {
      image: Evan,
      content: [
        {
          id: "2KH9OH2",
          image: Evan,
          text: [
            `Vue was created by Evan You after working for Google using AngularJS
          in a number of projects. He later summed up his thought process: "I
          figured, what if I could just extract the part that I really liked
          about Angular and build something really lightweight." The first
          source code commit to the project was dated July 2013, and Vue was
          first released the following February, in 2014.`,
            `Vue.js features an incrementally adaptable architecture that
          focuses on declarative rendering and component composition. The core library is focused on the view layer only.
          Advanced features required for complex applications such as routing,
          state management and build tooling are offered via officially maintained supporting libraries and packages,
          with Nuxt.js as one of the most popular solutions.`
          ],
          link: "https://vuejs.org/"
        },
        {
          id: "26XGV42",
          image: Vuex,
          text: [
            `Vuex is a state management pattern + library for Vue.js applications.
            It serves as a centralized store for all the components in an application, with rules ensuring that the state can only be mutated in a predictable fashion.
            It also integrates with Vue's official devtools extension to provide advanced features such as zero-config time-travel debugging and state snapshot export / import.`,
            `This is the basic idea behind Vuex, inspired by Flux, Redux and The Elm Architecture.
            Unlike the other patterns, Vuex is also a library implementation tailored specifically for Vue.js to take advantage of its granular reactivity system for efficient updates.
            If you want to learn Vuex in an interactive way you can check out this Vuex course on Scrimba,
            which gives you a mix of screencast and code playground that you can pause and play around with anytime.`
          ],
          link: "https://vuex.vuejs.org/"
        },
        {
          id: "A6XGK42",
          image: Router,
          text: [
            `Vue Router is the official router for Vue.js. It deeply integrates with Vue.js core to make building Single Page Applications with Vue.js a breeze.`,
            `Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi`,
            `Vue Router is the official router for Vue.js. It deeply integrates with Vue.js core to make building Single Page Applications with Vue.js a breeze.`,
            `Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi`
          ],
          link: "https://router.vuejs.org/"
        }
      ]
    };
  }
};
</script>
<style lang="scss">
.home {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
</style>
