.container {
  max-width: 1200px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.article-container {
  margin: 2rem 0;
  background: white;
  padding: 3rem 3rem 2rem 2rem;
  box-shadow: 0 10px 20px 0 rgba(4,83,199,0.05), 0 -10px 20px 0 rgba(255,255,255,0.5);
  border: 1px solid rgba(4,83,199,0.1);
}